
.container{
	
	margin: 0;
	padding: 0;
}

.addtodo-container{

	background-color: #edece8;
	text-align: center;
	padding: 10px;

}

.error-msg{
	color: red;
	font-size: 20px;
	display: none;
}
.form-group{
	font-size: 23px;
	margin:20px auto; 	 
}
.form-field{
	padding-left: 15px;
	height: 40px;
    width: 350px;
    font-size: 15px;
    text-align: center;

}

label{

}
.form-container{
	border: 2px solid;
	width: 30%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	background-color: #e6b1cc;
}
.main-label{
	font-size: 25px;
	color: black;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;

}

.form-control{
	font-size: 25px;
	border-radius: 15px; 
	height: 45px;
	width: 140px;
	color: white;
	
	outline: none;
}	
#reminder-date{
	display: none;
}
.add-btn{
	background-color:#58b85d;
}
.add-btn:hover{
	color:#58b85d;
	background-color:  white;
}
.reset-btn{
	background-color: #969595;
	
}
.reset-btn:hover{
	color:#58b85d;
	background-color:  white;
}

#attachment{
	width: 220px;
}
#reminder{
	text-align: center;
}