.userData{
	/*width: 1000px;*/
	border-top: 2px solid #929491;		
}
.userData label{
		font-size: 25px;
}

.requiredE { 
	color:red;
	font-size: 18px;
	vertical-align: super;
	/*display: none;*/
	visibility:hidden;


}

.userData-container{
	background-color: #edece8;
	margin: 30px auto;
    width: 1000px;
    padding: 50px;
    box-sizing:content-box;

}

.profile-header{
	/*padding: 10px;*/
	position: relative;
	/*margin: 25px;*/
}

#user-img{
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 97px;
	left: 526px;
	border-radius: 50px;
	border:1px solid #a8a8a7;
}
#change-profile-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 158px;
    left: 595px;
    opacity: 0.8;
    padding: 2px;
}
#change-profile-icon:hover{
	opacity: 1;
    position: absolute;
}

.data-table{
	margin: 0 auto;
	display: block;
}

.data-row{
	display: inline-block;
	margin-bottom: 25px;
	
}

.data-cell{
	position: relative;
	/*border: 2px solid black;*/
	height: 50px;
	width: 468px;
	float: left;

}

.cell2{
	margin-left: 50px; 
}

.userData-container input[type=text], .userData-container input[type=password] {
  
     /* padding: 12px 20px; */
    /* margin: 8px 0px; */
    border: 1px solid #ccc;
    float: right;
    width: 290px;
    height: 50px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;

}

.userData-container textarea{
	border: 1px solid #ccc;
	height: 130px;
	width: 290px;
    right: 0px;
    position: absolute;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 15px;
}
.gender-label
{

	font-size: 20px;	
}
.data-table label{
	margin-top: 7px;
    margin-bottom: 11px;
    display: inline-block;
    /* top: 43px; */
/*    position: absolute;
*/}
.gender-radio{
	display: inline-block;
	right: 50px;
	position: absolute;
	margin-left: 20px;
	margin-top: 14px;
}
.gender-radio-btn{
	margin: 0 4px 0 13px; 
}
#edit-btn{

	display: block;
	margin: 0 auto;
	/*width: 100px;
	height: 30px;*/
	
	background-color:#984beb;

}

.update-info-btn{
	margin: 0 auto;
	text-align: center;

}

.update-info-btn input{
	/*width: 100px;
	height: 30px;*/
	
	margin: 0 auto;
}

.edit-info-btn{
	margin-top:50px; 
	display: block;
}


.update-info-btn{
	display: none;
	margin-top:50px; 
}

#save-btn{
	background-color:#58b85d;
	margin-right: 25px;	 

}

#cancle-btn{

	background-color:#008CBA;
	margin-left: 25px;	 


}
.p-btn{
	font-size: 25px;
	border-radius: 15px; 
	height: 45px;
	width: 120px;
	color: white;
}
