/*
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap')*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins&family=Lora:ital,wght@1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');


body{
margin: 0px;
}
*{
	font-family: "Lora",sans-serif;
/*	font-weight: normal;
*/}
header{
	position: relative;
}

#logo{
	
 display: block;
 float: left;
 text-align: center;
 color: white;
 margin: 0 auto;
 padding-top: 14px;
}
.navbar{
  background-color: #333;


}
.navbar ul {

  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 28px;
  padding: 0px 40px;
}

.navbar li {

  float: right;
}

.navbar li a {
  font-family: "Frank+Ruhl+Libre",sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #edece8;
  color: #333;
}
.notification{
  display: inline-block;
  position: relative;
}
#bell{
   
/*  display:none;
*/  
height: 25px;
overflow: hidden;
margin: 0px;
padding: 0px;
}
#noti{
    color: red;
    vertical-align: top;
    position: absolute;
    top: 7px;
    left: 36px;
    font-size: 20px;
}

.footer{
  padding: 0px 40px;
  background-color: #333;
  color: white;
  font-size: 25px;
 
  padding:40px 40px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Frank+Ruhl+Libre",sans-serif;
}

.heading{
  margin: 40px 0px;
  font-size: 50px;
  text-align: center;
  font-family: "Oswald",sans-serif;

}


.login-box{
	background-color: #edece8;
	border: 2px solid #807c7c;
	margin: 50px auto;
	width: 450px;
	padding: 20px;
	border: 2px solid #807c7c;
}
.login-img-container{
	text-align: center;
	margin: 0 auto;
}
.login-box h1{
text-align: center;
font-family: "Oswald",sans-serif;

}
.login-box label{
	text-align: left;
	display: block;
	font-weight: bold;
}

.login-box input[type=text],.login-box input[type=password],.login-box textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*.required
{
    color: red;
}*/
.required:after { 
  content:" *"; 
color:red;
font-size: 18px;

}


#login-btn{
display: block;
margin:  0 auto;
width: 100%;
margin-top: 20px;
background-color:#58b85d;
color: #fff;
font-size: 20px;
padding: 10px;
border-style: none;
border-radius: 10px;
}

.login-box p{
	text-align: center;
}
